#canvas-main{
	display:inline;
}
body{
	background-color: transparent;
}
#canv-cont{
	text-align:center;
	border-style:solid;
	border-width: 10px 0px 0px;
	border-image: url(../images/gameboy.png) 0 0 0 fill stretch;
	border-image-outset: 4em;
}